/**
Partie Referent
 */
.global-referent{
    margin-top: 100px;
    justify-content: center;
    display: flex;
    background-color: #ffcc00;

}
.color_box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.color_referent{
    margin: 20px;
    background: #AA3333;
    width: max-content;
    padding: 50px;
}