{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} |Organisation{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            text-align: center;
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="container-fluid">


    </div>

    <div class="container-fluid">
        <img src="{{ asset ('/content/velo-pont resize.jpg') }}" class="img-fluid" width="100%">
    </div>


    <div class="container-fluid">
        <div class="row">

                <div class="example-wrapper"><br>
               <H1 class="font-weight-bold">Notre Bureau</H1>
                  <hr>


                <p><img src="{{ asset('/content/logo velo.png') }}"></p>
                    <div class="m-5">
                <hr>
                    </div>
                    <div class=" bg-light border p-5 mb-3">




                  <h2> <div class="d-inline p-2 font-weight-bold">Président :</div>




                    <div class="d-inline p-2 ">Loïck Touchard

                    </div></h2>
                    <h2> <div class="d-inline p-2 font-weight-bold">Secrétaire:</div>


                        <div class="d-inline p-2 ">Magali Février

                        </div></h2>
                    <h2> <div class="d-inline p-2 font-weight-bold">Trésorier :</div>


                        <div class="d-inline p-2 ">Pascal Décan

                        </div></h2>
                   </div>
                </div>
        </div>
    </div>
{% endblock %}