{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} |Présentation {% endblock %}
{# La page Présentation #}
{% block body %}

    {# Le titre #}
    <div class="title-presentation row">
        <h1 class="">Présentation</h1>

    <div class="center-hr">
        <hr class="hr25-pourcent center">
    </div>
    </div>
    <div class="">

    <div class="container">
                <div class="row justify-content-center text-presentation">

                    {# Le premier paragraphe #}
                    <p> L'association a été créée le <strong>20 Janvier 2020</strong> par deux amis anciens vttistes.<p>

                    <p>Le but principal de l'association est de :</p>
                    <p>- faire découvrir le patrimoine naturel et culturel de notre région tout en voyageant à vélo. </p>
                    <p>- faire des activités sportives de loisirs respectant l'environnement en privilégiant la circulation sur les voies vertes et le long des canaux.</p>
                </div>
                <br>

                {# Partie Ou somme nous ? #}
                <div class="border bg-light p-3">
                    <div>
                            <h2 class="text-sous-ligner-vert">Où somme nous ?</h2>
                        <div class="row col-12 container-lieu-asso">

                            {# Le texte #}
                            <div class="col-lg-6 col-sm-12 col-xs-12 text-sous-ligner-noir">
                            <div>
                            <p>Notre association se situe sur Bruz </p>
                            <p>31 Rue des Forges 35170</p>
                            </div>
                            </div>

                            {# L'iframe de la map de google #}
                            <div class="col-lg-6 col-sm-12 col-xs-12 map-presentation">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2668.720611233386!2d-1.7574356843551209!3d48.0191073792142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480f1ef2cdd24d6f%3A0xc61fe53b8132941d!2s31%20Rue%20des%20Forges%2C%2035170%20Bruz!5e0!3m2!1sfr!2sfr!4v1613063726862!5m2!1sfr!2sfr"
                                     frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                                    tabindex="0"></iframe>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="center-hr">
                        <hr class="hr25-pourcent center">
                </div>

                {# Partie futur #}
                <div class="border bg-light p-3">
                    {# Titre Second Paragraphe #}
                    <h2 class="text-sous-ligner-vert">L'association proposera et organisera également:</h2>

                    {# Second Paragraphe #}
                    <div class="text-presentation">
                        <p>La projection de films-documentaires sur le voyage à vélo ou à pied, notamment en partenariat avec l'association « aux 4 coins du monde »</p>
                        <p>La découverte d'autres activités sportives de loisir de plein-air (longe-côte..) en partenariat avec d'autres associations spécialisées.</p>
                    </div>
                </div>
                <br>

                {# Partie règle d'or #}
                <div class="border bg-light p-3 ">
                    {# Titre Règle d'Or #}
                    <h2 class="text-sous-ligner-vert">Chaque membre de l'association doit adhérer aux valeurs de Vélo Rando Nature Bruz définies dans la charte de l'association :</h2>

                    {# Règle D'or #}
                    <div class="text-presentation">
                        <p>Respect et tolérance</p>

                        <p>Partage et solidarité</p>

                    </div>
                </div>

                <div class="center-hr">
                     <hr class="hr25-pourcent center">
                </div>

                {# Troisième Paragraphe #}
                <div class="text-presentation">
                    <p>Chacun pourra participer à la vie et au développement de Vélo Rando Nature Bruz en faisant des propositions et en prenant des initiatives. </p>
                    <p>RNB se construira grâce à la mise en commun des compétences, de la participation et de la motivation de chacun.</p>
                </div>

                <div class="center-hr">
                    <hr class="hr25-pourcent center">
                </div>

                <div class="border bg-light p-3">

                    {# Titre Devises #}
                    <h2 class="text-sous-ligner-vert">Nos deux devises :</h2>

                    {# Les Devises #}
                    <div class="text-presentation">
                        <p>« Roule tes souvenirs sont devant »</p>
                        <p>« Nous partons tous ensemble, nous roulons ensemble et nous rentrons ensemble »</p>
                    </div>
                </div>

                {# Boutons d'affichage des pdf de status et de la charte #}
                <div class="row">
                    <div class="col-lg-12 col-sm-12 d-flex justify-content-center">
                        <a class="m-3 btn btn-primary btn-lg text-white" href="{{ asset('documents/Statuts_asso_Rando nature Bruz.pdf') }}" target="_blank" >Statuts de l'association</a>
                    </div>
                    <div class="col-lg-12 col-sm-12 d-flex justify-content-center">

                        <a class="m-3 btn btn-primary btn-lg text-white" href="{{ asset('documents/Charte_asso_Rando nature Bruz.pdf') }}" target="_blank">Charte de l'association</a>

                    </div>
                </div>

    </div>
</div>
{% endblock %}