    {# La partie News #}

    {% if (actidispo) %}
            {# Le titre #}
            <h3 class="">Activité a venir</h3>
            <p>Il y a {{ actidispo| length }} activité a venir.</p>
        <a href="{{ path('activite_index') }}">Voir</a>
    {% else %}
    {% endif %}