<div class="popup_accueil">
    {% if (actidispo) %}
            <p class="title">Activité a venir</p>
            <p>Il y a {{ actidispo| length }} activité a venir.</p>
        <a href="{{ path('activite_index') }}">Voir</a>
    {% else %}
    {% endif %}
</div>