    {# La partie News #}

    {% if (actidispo) %}
            {# Le titre #}
            <h2 class="">Activité a venir</h2>

        <a class="decoration-button-voir"
           href="{{ path('activite_index') }}">Il y a {{ actidispo| length }} activité a venir.</a>
    {% else %}
    {% endif %}