    {# La partie News #}

    {% if (actidispo) %}
            {# Le titre #}
            <h1 class="title">Activité a venir</h1>
            <p>Il y a {{ actidispo| length }} activité a venir.</p>
        <a href="{{ path('activite_index') }}">Voir</a>
    {% else %}
    {% endif %}