{% extends 'base.html.twig' %}

{% block title %}Gestion des actualites |{{ parent() }}{% endblock %}

{% block body %}

    <div class="title-actualite row">
        <h1 class="col-12">Gestion des Actualité</h1>
        <hr>
    </div>

    {% for actualite in actualites %}
        <div>
        {{ actualite.actu }}
        </div>
        <div class="col-lg-6 button-supprimer-modifier-referent">
            <a class="button-decoration-referent" href="{{ path('actuedit', {'id':actualite.id}) }}">Modifier</a>
            <a class="espace-button-referent button-decoration-referent" href="{{ path('actudelete', {'id':actualite.id}) }}" onclick="return confirm('Voulez-vous vraiment supprimer cet actualité ?')">Supprimer</a>
        </div>
    {% endfor %}

{% endblock %}