*{
    margin: 0;
    padding: 0;
}
body, html{
    margin: 0;
    padding: 0;
    min-height: 100%;
    overflow-x: hidden;
}
body{
    background-color: lightyellow;
    background-image: url("../background/nature2.png");
}

.container{
    padding: 0;
}
.row-container{
    display: flex;
    justify-content: center;
}
img{
    width: 100%;
    height: 100%;
}
hr{
    width: 25%;
    background-color: black;
}
.center-hr{
    display: flex;
    justify-content: center;
}
/**
****************** navbar ***********
 */
header{
    background-color: rgba(49,49,49, 0.9) ;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 12;
    solid-opacity: 0.33;
}
.header-navbar{
    display: flex;
    justify-content: left;
    align-items: center;
}
.header-hello_user{
    display: flex;
    justify-content: right;
    align-items:center;
    padding-top: 10px;
}
.navbar li ul a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background: #ddd;
    color: black;
}
/**
    Partie footer
 */
main{
    position: relative;
    margin-bottom: 50px;
}
footer {
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url("../content/ban page menu footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center ;

}
.footer__container{
    display: flex;
    justify-content: center;
    padding:0;
    margin: 0;
}

.lien-footer{

}
.navbar-toggler{

}
.box2{
    padding: 0;
    margin: 0;
    max-width: 100%;
}
.box3{

}
.box4 a {
    font-size: large;
    font-weight: lighter;
    padding-left: 10px;

}
.box5{

}
.box6{
    padding: 0;
    margin: 0;
    max-width: 100%;
}
.box4{

}
.copyright{
    display: flex;
    justify-content: flex-end;
}
.copyright p{
    padding-right: 10px ;
}
/**
    Carousel
 */


.item{
    margin:  40px 10px;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
    transition: transform 0.3s;
    transform: translate3d(0, -1px, 0);

}

.item:hover{
    transform: translate3d(0, -10px, 0);
}

.item img{
    display: block;
    width: 100%;
    min-height: 100px;
    max-height: 100px;
    border-radius: 5px;
    object-fit: contain;
}

.item__body{
    margin: 5px;
    padding: 10px 25px 10px 25px;
    background: white;
    border-radius: 5px;
}

.item__title{
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

.item__title a {
    color: lightslategray;
    text-decoration: none;
}

.items{
    position: relative;
}

/**
CAROUSEL
 */
#carousel1{
    display: flex;
    justify-content: space-around;

}
.carousel{
    position: relative;
    overflow-x: hidden;
    width: 60%;
    height: 60%;
}
.carousel__container{
    transition: transform 0.3s ;
    transform: translate3d(0, 0, 0);
}
.carousel__container::after{
    content: '';
    clear: both;
    display: table;
}
.carousel__item{
    float: left;
}
.carousel__next, .carousel__prev{
    position: absolute;
    width: 40px;
    height: 40px;
    background: #fff url("../logos/right-arrow.png") center center no-repeat;
    background-size: 20px 20px;
    border-radius: 50%;
    top: 50%;
    margin: 0 20px 0 20px;
    right: -20px;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;

}

.carousel__next:hover, .carousel__prev:hover{
    transform: scale(1.2);
}

.carousel__prev{
    background-image:url("../logos/left-arrow.png");
    right: auto;
    left: -20px;
}
.carousel__next--hidden, .carousel__prev--hidden {
    opacity: 0;
}

.carousel__pagination{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: none;
}
.carousel__pagination__button{
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display:inline-block ;
    margin: 0 3px;
    box-shadow: 0 2px 5px #3232321a;
    transition: transform 0.3s;
    cursor: pointer;
}
.carousel__pagination__button--active, .carousel__pagination__button:hover{
    transform: scale(1.4);
}
@media screen and (min-width: 800px) {
    .carousel__pagination{
        display: block;
    }
}
/**************************/
/**     Page Accueil     **/
/*************************/
.en-tete-accueil{
    margin-top: 80px;
    margin-bottom: 10px;
}
.logo{
    display: flex;
    justify-content: center;
}
.title{
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.logo img{
    width: 340px;
    height: 260px;
}
.title img{
    width:  800px;
    height: 160px;
}
.popup_accueil{
    display: block;
    position: absolute;
    background: white;
    border: black solid 1px;
    right: 0;
    margin-top: 300px;
    margin-right: 150px;
    padding: 20px;
}

.paragraphe2{
    display: flex;
    justify-content: center;
}
.description-accueil p{
    display: flex;
    justify-content: center;
    margin: 40px;
    font-size: x-large;
}
/**       Caroussel     **/
@keyframes display {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }
    10% {
        transform: translateX(0);
        opacity: 1;
    }
    20% {
        transform: translateX(0);
        opacity: 1;
    }
    30% {
        transform: translateX(-200px);
        opacity: 0;
    }
    100% {
        transform: translateX(-200px);
        opacity: 0;
    }
}
.pic-ctn {
    position: relative;
    width: 100vw;
    height: 600px;
}
.pic-ctn > img {
    position: absolute;
    top: 0;
    opacity: 0;
    animation: display 10s infinite;
}
img:nth-child(2) {
    animation-delay: 2s;
}
img:nth-child(3) {
    animation-delay: 4s;
}
img:nth-child(4) {
    animation-delay: 6s;
}
img:nth-child(5) {
    animation-delay: 8s;
}


#h2-accueil{
    text-align: center;
    margin: 40px;
    font-weight: bold;
}
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    margin: 20px;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(-100px);
    -ms-transform: translatey(-100px);
    transform: translatey(-100px);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    padding: 10px;
}

.hovereffect a.info {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 50px 0 0;
    padding: 7px 14px;
}

.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}

.hovereffect:hover img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
}

.hovereffect:hover h2, .hovereffect:hover a.info {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-transform: translatey(0);
    -webkit-transform: translatey(0);
    transform: translatey(0);
}

.hovereffect:hover a.info {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}


.text-bas-page{
    text-align: center;
    margin: 40px;
    font-size: x-large;
}
/**********************/
/**     Bureau      **/
/********************/

.bureau{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    text-align: center;
}
.bureau hr{
    width: 25%;
}
.partie0{
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}
.partie1{
    padding-left: 300px;

}

.partie2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 300px;
}
#img-bureau{
    margin: 50px;
    width: 600px;
    height: 600px;
}
/**
----------------------------------------
**************Randos-Velo***************
----------------------------------------
 */
.title-activite{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    text-align: center;
}
.title-activite hr{
    width: 25%;
}

.activite-box{
    background-color: #AA3333;
    padding: 0;
}
.presentation-activite{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.activite{
    text-align: center;
    padding: 0;
    margin: 0;
}
.image-box{
    padding: 0;
}
.img-activite{
    display: flex;
    align-items:end;
    border-radius: 5px;
}
.image-activite{
    max-width: content-box;
    max-height: content-box;
}
.btn-activite{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}
.text-activite{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: start;
}
/**
----------------------------------------
**************Programme***************
----------------------------------------
 */
.activite-container:hover .detail-container{
    display: block;
}
.présentation-programme{
    display: flex;
    justify-content: center;
    text-align: center;
}
.filter{
    display: block;
    position: sticky;
    top: 90px;
    padding: 20px;
    margin-top: 20px;
    margin-right: 20px;
    border: solid black 1px;
    border-radius: 8px;
    background-color: lightgoldenrodyellow;
    background-image: url("../background/feuille4.png");
}
.row-container{
    padding-right: 40px;
    padding-left: 40px;
}
.activite-container{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: solid 1px black;
    border-radius: 8px;
    background-image: url("../content/forest.jpg");
}
.sans-detail-container{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    padding: 0;
    border-radius: 8px;
}
.date-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-left: -20px;
    border-radius: 8px;
}
.date-container p{
    padding: 0;
    margin: 2px;
}
#date-activite{
    font-weight: bold;
    font-size: x-large;
}
.nom-container{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}
.info-activite {
    padding: 0;
    margin: 0;
}


#title-activite{
    font-weight: bold;
    font-size: x-large;
}
.type-activite-lieu{
    margin: 0;
}
.type-activite{
    display: flex;
}
.font-bold-activite{
    font-weight: bold;
    padding-right: 10px;
}
.padding-activite{
    padding-right: 20px;
}
.is-inscrit{
    display: flex;
    justify-content: flex-end;
    padding: 0;
}
.is-inscrit img{
    max-width: 25px;
    max-height: 25px;
}


.detail-container{
    display: none;
    background-color: white;
    border-radius: 8px;
    margin: 20px;
    padding: 0;
}
.detail-gauche{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.detail-droite{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.difficulte-activite img{
    max-width: 100px;
    max-height: 100px;
}


.buton-container{
    background-color: white;
    border-radius: 8px;
    padding: 20px;
}
.inscrit p {
    display: flex;
    align-items: center;
    align-content: center;
}
.button{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
/**
Partie Crée une activité
 */
.espace-div-form-activite{
    margin-top: 1%;
    margin-bottom: 1%;

}
.form-activite-fond-noir{

    border-radius: 15px;
    border:solid 1px;
    background-color:rgba(49,49,49,0.7);
    color: white;
    justify-content: center;
}
.droite-form-activite{
    margin: auto;
    justify-content: center;
}
.gauche-form-activite{
    margin: auto;
    justify-content: center;
}
hr.hr-new-activite{
    border: none;
    height: 4px;
    background-color: black;
}
/**
Partie Profil
 */
.profil-fond-noir{
    background-color:rgba(49,49,49,0.7);
    color: white;
    border-radius: 15px;
    border:solid 1px;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
}
.global-profil-show{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.global-profiledit{
    display: flex;
    flex-direction: row;
    max-width: content-box;
    max-height: content-box;
    justify-content: center;
}

.position-photo-profiledit{
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.affichage-photo-profiledit{
    border-radius: 150px;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
    max-height: 325px;
    max-width: 325px;
}

.position-photo-show{
    flex-direction: row;
    display: flex;
    max-height: 325px;
    max-width: 325px;
}

.affichage-photo-show {
    border-radius: 150px;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
}
.affichage-profil{
    display: flex;
    justify-content: center;
}

/**
Partie Trombinoscope
 */
hr.hr-trombinoscope{
    height: 1px;
    border: none;
    background: black;
}
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: -10px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.hovereffect:hover .overlay {
    background-color: rgba(170, 170, 170, 0.4);
}

.hovereffect h2, .hovereffect img {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.hovereffect:hover img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 0;
    background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    margin: 50px 0 0 0;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-weight: bold;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -20%;
    left: 8%;
    padding: 70px;
}

.hovereffect:hover a.info {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.4);
}

/**
Partie Adhesion
 */
    hr.hr-bulletin-adhesion{
        border: none;
        height: 1px;
        background: white;
    }
    .container-adhesion{
        padding: 0;
        margin: 0;
    }

    .gauche-adhesion{
        display: flex;
        justify-content: center;
    }
    .global-adhesion{
        display: flex;
        flex-direction: row;
        max-width: content-box;
        max-height: content-box;
    }
    .taille-text-adhesion{
        font: oblique 20px Arial;
    }
    .map-ahesion{
        margin: auto;
    }
    .text-important-adhesion{
        margin-top: 75px;
        display: flex;
        justify-content: center;
    }
    .adhesion-fond-noir{
        background-color:rgba(49,49,49,0.7);
        color: white;
        border-radius: 15px;
        border:solid 1px;
        justify-content: center;
    }
/**
    Partie Présentation
 */
.taille-ecran{
    text-align: center;
    margin: 1em auto;
    max-width: 1000px;
    width: 95%;
}
.color-black-text:link{
    color: black;
    background-color: transparent;
    text-decoration: none;
    font: oblique 14px Arial;
}
.text-sous-ligner-vert{
    font: oblique 20px "Arial Black";
    text-decoration:underline;
    color: green;
    text-align: center;
}
.text-sous-ligner-noir{
    text-decoration: underline;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-lieu-asso{
    display: flex;

}
.map-presentation{
    width: 300px;
    height: 300px;
}
iframe{
    width: 100%;
    height: 100%;
}
/**
PARTENAIRE
 */
.box1{
    display: flex;
    justify-content: center;
}
.title__partenaire{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    text-align: center;
}
.tabel__partenaire{
    padding: 0;
    margin: 40px;
    max-width: 500px;
    background: antiquewhite;
    border-radius: 5px;
    border: solid whitesmoke 1px;
}
.contenue__partenaire{
    background: white;
    border-radius: 5px;
    border: solid white 1px;
    margin: 20px;
}
.main__partenaire{
    padding: 0;
}
.form__partenaire{
    max-width: 750px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 15px;
    border:solid 1px;
    background-color:rgba(49,49,49,0.7);
    color: white;
}
.nom__partarenaire{
    font-size: x-large;
    font-weight: bold;
    font-style: oblique;
}
.img__partenaire{
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 450px ;
    height: 325px;
}
.img__partenaire img{
    object-fit: contain;
}
.action__partenaire{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.page__container{
 display: flex;
    justify-content: center;
}