.bureau{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    text-align: center;
}
.bureau hr{
    width: 25%;
}
.bureau_main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: max-content;
}
.partie1{
    margin: 50px;
    width: max-content;
}
.partie2{
    margin: 20px;
    width: max-content;

}
#img-bureau{
    width: 800px;
    height: 600px;
}
.president{
    margin: 10px;
}
.secretaire_tresorier{
    margin: 10px;
}
.teste{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    margin: 20px;
}
.role_format{
    display: flex;
    flex-direction: row;
}
.role_user{
    font-size: x-large;
    font-style: oblique;
    font-weight: lighter;
    margin: 5px;
}
.prenom_nom_user{
    display: flex;
    flex-direction: row;
    font-size: x-large;
    font-style: oblique;
    font-weight: lighter;
}
.prenom_nom_user p {
    margin: 5px;
}
.president{
    padding: 10px;
}
.other{
    padding: 10px;
    margin: 10px;
}
.secretaire_tresorier{
    padding: 10px;
}