{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} |Qui sommes-nous ?{% endblock %}
{# page d'affichage du pdf de qui sommes-nous #}

{% block body %}
    {# le style css par defaut de bootstrap #}
    <style>
        .example-wrapper {
            text-align: center;
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="container-fluid">
    </div>

    {# la banniere #}
    <div class="container-fluid">
        <img src="{{ asset ('/content/ban page menu footer.jpg') }}" class="img-fluid" width="100%">
    </div>

    {# le titre et le corps de la page #}
    <div class="container-fluid">
    <div class="row">
    <div class="example-wrapper"><br>
        <H1 class="font-weight-bold">Qui sommes-nous ?</H1>
        <hr>
        <div class="text-align-center">
            <h4>Association «VELO RANDO NATURE BRUZ »</h4>
            <p>L'association a été créée le 20 janvier 2020 par deux amis anciens vttistes.</p>
            <p> L'objet principal de l'association est de faire découvrir le patrimoine naturel et culturel de notre
                région en voyageant à vélo - activité sportive de loisir respectant l'environnement – en privilégiant la
                circulation sur les voies vertes et long des canaux.</p>
            <hr>

            {# le iframe de la map de google #}
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2668.720611233386!2d-1.7574356843551209!3d48.0191073792142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480f1ef2cdd24d6f%3A0xc61fe53b8132941d!2s31%20Rue%20des%20Forges%2C%2035170%20Bruz!5e0!3m2!1sfr!2sfr!4v1613063726862!5m2!1sfr!2sfr"
                    width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>


            <div class="bg-light border">
                <p class="font-weight-bold text-success lead pt-3">L'association proposera et organisera également :</p>
                <ul>
                    <li class="text-left">La projection de films-documentaires sur le voyage à vélo ou à pied, notamment
                        en partenariat avec l'association « aux 4 coins du monde » ;
                    </li>
                    <li class="text-left">La découverte d'autres activités sportives de loisir de plein-air
                        (longe-côte..) en partenariat avec d'autres associations spécialisées.
                    </li>
                </ul>
            </div>
            <hr>
            <div class="bg-light text-center border">
                <p class="font-weight-bold text-success lead pt-3"> Chaque membre de l'association doit adhérer aux
                    valeurs de Rando Nature Bruz définies dans la charte de l'association :</p>
                <ul>
                    <li class="text-left">Respect et tolérance ;</li>
                    <li class="text-left">Partage et solidarité .</li>
                </ul>
            </div>


            <p class="text-left m-4">Chacun pourra participer à la vie et au développement de Rando Nature Bruz en
                faisant des propositions et en prenant des initiatives. RNB se construira grâce à la mise en commun des
                compétences, de la participation et de la motivation de chacun.</p>
            <div class="bg-light text-center border">
                <p class="font-weight-bold text-success lead pt-3"> Nos deux devises :</p>
                <ul>
                    <li class="text-left">
                        « Roule tes souvenirs sont devant »
                    </li>
                    <li class="text-left"> « Nous partons tous ensemble, nous roulons ensemble et nous rentrons ensemble
                        »
                    </li>
                </ul>

            </div>
        </div>
    </div>






{% endblock %}