.gestion-actualite-global{
    display: flex;
    justify-content: center;
    margin-top:100px;
}

.title-actualite-gestion{
    text-align: center;
}

.actualite-gestion{
    margin: 20px;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 5px 2px 10px black;
    border-radius: 15px;
    border:solid 1px;
    width: max-content;
    text-align: center;
}

.button-supprimer-modifier-actualite{
    justify-content: center;
    display: flex;
}