.create_documentation{
    margin: 20px;
}
.logo_create_documentation{
    margin: 0 10px 0 10px;
    width: 20px ;
    height:20px ;
    object-fit: contain;
}
.main__documentation{
    margin: 10px;
    padding: 0;
}
.container__documentation{
    background: white;
    margin: 40px;
    padding: 0;
}
.documentation{
    padding: 20px;
    border-radius: 5px;
}
.title__documentaire{
    font-size: x-large;
    color: royalblue;
    margin: 10px;
    padding: 0;

}
.title__documentaire a, .title__documentaire a:hover{
    text-decoration: none;
}
.documentation_date_user{

    display: flex;
    flex-direction: row;
}
.documentation_date_user img, .documentation__etiquette img{
    width: 20px ;
    height:20px ;
    object-fit: contain;
}
.documentation_date, .documentation_user{
    display: flex;
    flex-direction: row;

}
.documentation_date, .documentation_user{
    width: 250px;
    height: 40px;
}
.documentation_date img, .documentation_user img{
    margin: 0 10px 0 10px;
}

.documentation_date p, .documentation_user p{
    color: lightslategray;
}
.documentation_lien a{
    margin: 0 20px 0 10px;
    text-decoration: none;
}
.documentation__resume{

    padding-bottom: 10px;
}
.documentation__resume p{
    margin: 0 10px 0 10px;
}
.container__etiquette{
    margin: 0 10px 0 10px;
}

.documentation__etiquette, .documentation__etiquette p{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: lightgray;
    margin: 0 5px 0 5px;
    padding: 1px;
    width: max-content;
    border-radius: 5px;
}
.documentation__etiquette p{
    font-size: x-small;
    font-style: italic;
    color: darkgrey;

}
.documentation__option{
    display: flex;
    justify-content: flex-end;
    margin: 0 10px 0 10px;
}
.documentation__etiquette img{
    width: 12px ;
    height:12px ;
    object-fit: contain;
}
.documentation__option a{
    padding: 10px;
}