{% extends 'base.html.twig' %}

{% block body%}
    <div class="title__partenaire container-fluid row">
        <h1 class="col-12">Création d'un Partenaire</h1>
        <div class="center-hr col-12">
            <hr class="hr25-pourcent">
        </div>
    </div>
    <div class="main__partenaire">
        {{ form_start(formPartenaire) }}
        {{ form_widget(formPartenaire) }}
        {{ form_end(formPartenaire) }}
    </div>
{% endblock %}