{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | ecocitoyenneté{% endblock %}
{# twig d'affichage de la page ecocitoyennete #}
{% block body %}
    {# le style bootstrap par defaut #}
    {#
    <style>
        .centrer{
            display: flex;
            align-items: center;
        }
        .example-wrapper {
            text-align: center;
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>
    #}

{# la banniere et le titre #}
    {#
    <div class="container-fluid">
        <img src="{{ asset ('content/2velos resize.jpg') }}" class="img-fluid" width="100%">
    </div>
    #}
    <div class="title-activite row"><br>
        <h1 class="col-12">Nos rendez-vous écocitoyenneté</h1>
        <hr>
    </div>
    <div class="container-fluid">
        <div class="row">

            {# le corps de la page #}
            <div class="activite-box m-md-5 bg-light border ">
                <div class="activite row">
                    <a class="btn-activite btn btn-primary col-lg-2 col-12" href="{{ path('activite_index') }}">
                      <h3>Ecocitoyenneté</h3>
                    </a>
                    <div class="text-activite col-lg-8 col-xs-12">
                        <p>
                            l'association participe au comité « piétons-vélos » de la ville de Bruz.
                            Ce comité consultatif a pour mission d'éclairer les élus afin d'établir
                            un plan d'itinéraires sécurisés pour les piétions et les vélos...
                            
                            Il est constitué d'un quinzaine de personnes :
                            8 bruzois représentatifs de la population, 5 élus et des représentants d'associations.
                            Le comité se réunira au moins 4 fois par an.
                        </p>
                    </div>
                    <div class="image-box col-lg-2 col-xs-12">
                     <img class="image-activite" src="{{ asset('content/ecocitoyenete resize.jpg') }}">
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}