{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | ecocitoyenneté{% endblock %}
{# La page ecocitoyennete #}
{% block body %}


    {# Le titre #}
    <div class="title-activite row"><br>
        <h1 class="col-12">Nos rendez-vous écocitoyenneté</h1>
    </div>

    <div class="center-hr">
        <hr class="hr25-pourcent center">
    </div>

    <div class="container-fluid">
        <div class="row">

            {# Le corps de la page #}
            <div class="activite-box m-md-5 bg-light border ">
                <div class="activite row">
                    <a class="btn-activite btn btn-primary col-lg-2 col-12" href="{{ path('activite_index') }}">
                      <h3>Ecocitoyenneté</h3>
                    </a>
                    <div class="text-activite col-lg-8 col-xs-12">
                        <p>
                            l'association participe au comité « piétons-vélos » de la ville de Bruz.
                            Ce comité consultatif a pour mission d'éclairer les élus afin d'établir
                            un plan d'itinéraires sécurisés pour les piétions et les vélos...

                            Il est constitué d'un quinzaine de personnes :
                            8 bruzois représentatifs de la population, 5 élus et des représentants d'associations.
                            Le comité se réunira au moins 4 fois par an.
                        </p>
                    </div>
                    <div class="image-box col-lg-2 col-xs-12">
                     <img class="image-activite" src="{{ asset('content/ecocitoyenete resize.jpg') }}">
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}