{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | ecocitoyenneté{% endblock %}
{# twig d'affichage de la page ecocitoyennete #}
{% block body %}
    {# le style bootstrap par defaut #}
    <style>
        .centrer{
            display: flex;
            align-items: center;
        }
        .example-wrapper {
            text-align: center;
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>


{# la banniere et le titre #}
    <div class="container-fluid">
        <img src="{{ asset ('/content/2velos resize.jpg') }}" class="img-fluid" width="100%">
    </div>


    <div class="container-fluid">
        <div class="row">

            <div class="example-wrapper"><br>
                <H1 class="font-weight-bold">Nos rendez-vous écocitoyenneté</H1>
                <hr>

            </div>
        </div>
    </div>

    <div class="container-fluid">

    {# le corps de la page #}
    <div class="m-md-5 bg-light border ">
    <div class="row  " align="center">

        <a class="centrer btn btn-primary col-lg-3 col-12" href="{{ path('activite_index') }}">
        <div >
          <span> <h3>Ecocitoyenneté</h3></span>
        </div>
        </a>
        <div class="col-lg-5 col-xs-12 centrer"><br>

            <p>l'association participe au comité « piétons-vélos » de la ville de Bruz.
                Ce comité consultatif a pour mission d'éclairer les élus afin d'établir
                un plan d'itinéraires sécurisés pour les piétions et les vélos...
                Le comité se réunira au moins 4 fois par an.
                Il est constitué d'un quinzaine de personnes :
                8 bruzois représentatifs de la population, 5 élus et des représentants d'associations.</p>
        </div>
        <div class="centrer col-lg-4 col-xs-12 text-right ">
         <p class="">  <img src="{{ asset('/content/ecocitoyenete resize.jpg') }}" class="img-fluid " width="100%"></p>
        </div>
    </div>
    </div>
    </div>
{% endblock %}