{% extends 'base.html.twig' %}
{# twig d'affichage de la page modifier activite #}
{% block body %}
    {% if is_granted("ROLE_ADMIN") %}

    {{ include('activite/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <div class="row d-flex justify-content-center">
        {{ include('activite/_delete_form.html.twig') }}
    </div>
    {% endif %}
{% endblock %}
