{% extends 'base.html.twig' %}
{# twig d'affichage de la page creer activité #}
{% block body %}
    {% if is_granted("ROLE_ADMIN") %}
{# on inclus ici le formulaire #}
<div class="mb-5">
   {{ include('activite/_form.html.twig') }}
</div>
    {% else %}
    {% endif %}
{% endblock %}
