{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Plein-air{% endblock %}
{# La page plein-air #}

{% block body %}
    {# Le titre #}
    <div class="title-activite row">
        <h1 class="col-12">Nos autres activités de plein-air</h1>
    </div>
    <div class="center-hr">
        <hr class="hr25-pourcent center">
    </div>

    {# Le corps de la page #}
    <div class="container-fluid">
        <div class="row">

            <div class="activite-box m-md-5 bg-light border">
                <div class="activite row col-12">

                    {# Partie longe-côte #}
                    <a class="btn-activite btn btn-primary col-lg-2 col-sm-12" href="{{ path('activite_index') }}">
                        <h3>Le longe-côte</h3>
                    </a>

                    {# Texte longe-côte #}
                    <div class="text-activite col-lg-8 col-xs-12">
                        <p>
                            La marche aquatique ou « longe-côte », est une activité sportive pratiquée depuis maintenant
                            près de 8 ans, le long de notre littoral.
                            C'est de la thalasso en plein air, la marche sportive y est associée à de l'aquatonic.

                            La séance dans l’eau dure de cinquante minutes à une heure quinze, selon la saison et la
                            température.
                            À la sortie, récipient isotherme de café, tisane et petites douceurs sucrées sont
                            indispensables pour ceux qui se sont sentis comme des poissons, l’espace d’une petite heure.
                        </p>
                    </div>

                    {# Insertion de l'image de longe-côte #}
                    <div class="image-box col-lg-2 col-xs-12 centrer">
                        <img class="image-activite" src="{{ asset('content/Paul.jpg') }}">
                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}