{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Projections{% endblock %}
{# La page projections films #}
{% block body %}

    {#Le titre #}
    <div class="title-activite row">
        <h1 class="col-12">La projection de films documentaires</h1>
    </div>
    <div class="center-hr">
        <hr class="hr25-pourcent center">
    </div>

    {# Le corps de la page #}
    <div class="container-fluid">
        <div class="row">

            <div class="activite-box m-md-5 bg-light border">
                <div class="activite row col-12">

                    {# Partie documentaires sur le voyage #}
                    <a class="btn-activite btn btn-primary col-lg-2 col-sm-12" href="{{ path('activite_index') }}">
                        <h3>Les documentaires sur le voyage</h3>
                    </a>

                    {# Texte documentaires sur le voyage #}
                    <div class="text-activite col-lg-8 col-xs-12 ">
                        <p>
                            les documentaires sur notre région Bretagne et sur le voyage à vélo sont nombreux.
                            L'objectif est d'organiser des soirées conviviales projection/dîner
                            (notamment en partenariat avec l'association
                            <a href="http://www.a4cmonde.org/" target="_blank">« aux 4 coins du monde »</a> ).
                        </p>
                    </div>

                    {# Insertion de l'image de documentaire #}
                    <div class="image-box col-lg-2 col-xs-12">
                        <img  class="image-activite" src="{{ asset('content/documentaire resize.jpg') }}">
                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}