
    {# Le Footer #}
    <div class="footer__container container-fluid navbar navbar-expand-lg navbar-dark p-3">

        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="box2 container">
            <div class="box6 row">

                {# On inclut le le carrousel du footer #}
                <div class="box3 col-lg-12" id="navbarText" >
                    {% include 'inc/_footer_carousel.html.twig'  %}
                </div>

                <div class="box5 col-lg-12 row">

                    <div class="lien-footer col-lg-6" id="navbarText"  >

                        {# Les boutons Qui somme nous ?, Mentions légales et Contact #}
                        <div class="box4">
                        <a class="text-white" href="{{path('presentation')}}">Qui sommes-nous ?</a>
                            <a class="text-white" href="{{asset('documents/Mentions_legales.pdf')}}" target="_blank">Mentions légales</a>
                        <a class="text-white" href="{{path('contact')}}">Contact</a>
                        </div>

                    </div>

                    {# Le Copyright #}
                    <div class="copyright col-lg-6" id="navbarText">
                        <p class="text-white">&copy;{{ "now"|date("Y") }} VRNB @ED</p>
                    </div>

                </div>

            </div>
        </div>
    </div>